body{
    font-family: 'Lora', serif;
    max-width: 1700px;
    font-size: 15px;
    color: #222;
    margin: 0 auto;
}
*,
::before,
::after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}


/* Container */
.container{
    width: 100%;
    padding: 1em;
}

/* Header */
.header{
    width: 100%;
}
.header__top{
    color: #fff;
    padding: 1em;
    background-color: #222;
}
.header__height{
    height: 55px;
}
.header__height__phone{
    line-height: 1.3;
}
.phone{
    display: flex;
    justify-content: space-between;
}
.a1{
    color: #72cec2;
    font-weight: 700;
    font-size: 1.2rem;
}
.a1_phone{
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color .2s linear;
}
.mts{
    color: #72cec2;
    font-weight: 700;
    font-size: 1.2rem;
}
.mts_phone{
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color .2s linear;
}
.fa-phone-alt{
    color: #72cec2;
    font-weight: 700;
    font-size: 1.2rem;
}
.city_phone{
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color .2s linear;
}
.fa-map-marker-alt{
    color: #72cec2;
    font-weight: 700;
    font-size: 1.4rem;
}
.address{
    color: #eee;
    align-self: center;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color .2s linear;
}
.working{
    align-self: center;
    font-size: 0.9rem;
}
a:link {
    color: #eee;
}
a:hover {
    color: #72cec2;
}
a:active {
    color: #72cec2;
}
.header__bottom{
    display: flex;
    justify-content: space-between;
}
.header__bottom__height{
    width: 100%;
    height: 105.2px;
    padding: 0.95em;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.logo{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}
.nav__height{
    line-height: 1.2;
}
.nav__link{
    padding: 1.5em;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color .2s linear;
    border-right: 1px solid #222;
}
.nav__link:visited{
    color: #222;
}
.nav__link:hover{
    color: #72cec2;
}
.height_nav{
    height: 75.2px;
}
.nav__link:last-child{
    border-right: none;
}
.burger__nav{
    display: none;
    padding: 8px 20px;
}
.header__burger{
    display: none;
    width: 60px;
    height: 30px;
    position: relative;
    top: 20px;
}
.burger__line{
    display: block;
    width: 80%;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 0;
}
.burger__line_first{
    top: 0;
}
.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third{
    bottom: 0;
}
/* Intro */
.intro{
    width: 100%;
    overflow: hidden;
    margin-top: 22px;
    background: #fff;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .container{
    width: 100%;
    display: flex;
    padding: 5px 10px;
}
.slide{
    height: 70vh;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    color: #eee;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}
.slide h3{
    position: absolute;
    background-color: rgba(82, 70, 70, 0.5);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 3rem;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}
.slide.active{
    flex: 10;
}
.slide.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
.special_offer{
    color: #eee;
    text-decoration: none;
    text-shadow: 5px 5px 10px #222;
    transition: text-shadow 0.1s linear;
}
.special_offer:hover{
    color: #eee;
    text-shadow: 1px 1px 2px #72cec2;
    transition: text-shadow 0.1s linear;
}

/* Section */
.section .container{
    padding: 5em 0;
}
.section__header{
    width: 100%;
    text-align: center;
    margin-top: 3em;
}
.section__suptitle{
    color: #222;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: italic;
}
.section__title{
    font-size: 2rem;
    padding-top: 0.5em;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
}
.section__text{
    padding: 1em;
    color: #999;
    font-size: 1.3em;
    font-weight: 500;
}

/* About */
.about__us{
    margin-bottom: -20px;
}
.section__about__us{
    width: 100%;
    display: flex;
    padding: 1.5em;
}
.img__about__us{
    width: 100%;
}
.img__about__us img{
    width: 90%;    
}
.about__content{
    width: 100%;
    text-align: center;
    align-self: center;
}
.about__title{
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 700;
    color: #222;
}
.about__text{
    font-size: 1.1rem;
    color: #222;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 2em;
    text-align: left;
}

/* Reviews BOOTSTRAP */

.reviews__bootstrap{
    margin-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(208, 251, 245, 0.3);
}
.accordion-item{
    margin: 10px;
}
.accordion-button{
    color: #000;
    font-weight: 900;
}
.accordion-button:focus{
    background-color: #fff;
}

/* Advantage */
.cards__advantage{
    display: flex;
    justify-content: space-between;
}
.advantage__item{
    margin: 3em 1em;
    text-align: center;
    padding: 0.5em;
    width: 25%;
    border-radius: 5px;
    border: 1px solid #72cec2;
    box-shadow: 5px 5px 20px #72cec2;
    transition: .2s linear;
}
.advantage__item:hover{
    box-shadow: 10px 10px 20px #222;
}
.advantage__title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}
.advantage__text{
    color: #222;
    font-weight: 500;
    font-size: 0.93rem;
}

/* Card */
.card{
    display: inline-block;
    margin-top: 1em;
    padding: 2em;
    border: none;
}
.card__item{
    display: inline-block;
    width: 31%;
    padding: 2em;
    margin: 0.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #222;
    transition: 0.2s linear;
}
.card__item:hover{
    box-shadow: 10px 10px 20px #72cec2;
}
.card__title{
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
}
.card__text{
    margin-top: 10px;
    color: #222;
    font-weight: 500;
    font-size: 0.95rem;
}

/* Services */
.section__services{
    margin-top: 3em;
    background-image: url(img/background/bc6.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.services{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
}
.services__item{
    display: flex;
    margin-bottom: 5em;
    width: 50%;
    padding: 0 25px 0 130px;
}
.services__img{
    margin-right: 2em;
}
.services__name{
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.services__text{
    color: #222;
    font-weight: 500;
    font-style: italic;
    font-size: 1.1em;
}
.section__text__services{
    color: #eee;
    text-shadow: 1px 1px 1px #222;
    font-weight: 700;
    font-size: 1em;
}

/* Services__services */

.cards__header{
    text-align: center;
    margin-top: 50px;
}
.card-body{
    text-align: center;
}
.cards__header__title{
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    font-size: 2em;
}
.cards__header__text{
    padding: 0 20px;
    color: #000;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.card-title{
    font-weight: 700;
    text-transform: uppercase;
}
.card-text{
    font-family: 'Lora', serif;
}
.btn-primary{
    width: 80%;
    padding: 10px 0;
    color: #fff;
    background-color: #72cec2;
    border: none;
}
.btn-primary:hover{
    background-color: #222;
    transition: 0.2s linear;
}
.services__cards{
    display: flex;
    justify-content: space-evenly;
}

/* Doctors */
.doctors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5em;
    padding: 0 2em;
}
.doctors__item{
    width: 32%;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #222;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #222;
    margin-bottom: 2.5em;
    position: relative;
}
.doctors__img img{ 
    padding: 1.5em;
    border-radius: 10%;
}
.doctors__title{
    font-size: 1.1rem;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.doctors__subtitle{
    font-size: 1.2em;
    margin-top: 10px;
    color: #222;
    font-style: italic;
}
.doctors__text{
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8em;
}
.doctors__img img:hover{
    background-color: #72cec2;
    transition: background-color .2s linear;
}

/* Map */
.section__map{
    opacity: 1;
    background: url(img/map-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 5em;
    margin: 3em 0;
}
.map{
    text-align: center;
}
.fa-map-marker-alt{
    font-size: 1.3em;
}
.map__title{
    font-size: 2em;
    font-weight: 700;
    color: #72cec2;
}
.map__title a{
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
}
.map__title a:hover{
    text-decoration: underline;
}

/* Footer */
.footer{
    margin-top: 6em;
    background-color: #222;
}
.footer__inner{
    display: flex;
    width: 100%;
    text-align: left;
}
.footer__info{
    padding-top: 2em;
    padding-left: 2em;
    width: 33%;
}
.footer__text{
    padding-top: 1em;
    line-height: 1.5;
    color: #eee;
    font-weight: 500;
}
.footer__contacts{
    width: 33%;
    color: #eee;
    padding-top: 3em;
    padding-left: 2em;
    padding-bottom: 2em;
    line-height: 2;
    font-weight: 500;
}
.footer__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 1em;
    color: #eee;
    font-weight: 500;
}
.footer__email{
    width: 33%;
    color: #eee;
    padding-top: 3em;
    padding-left: 2em;
    padding-bottom: 2em;
    line-height: 2;
    font-weight: 500;
}
.subscribe{
    width: 100%;    
}
.subscribe__email{
    padding: 1em;
    border: 1px solid #72cec2;
    border-radius: 5px;
    color: #222;
    margin-bottom: 1em;
    font-family: 'Lora', serif;
}
.subscribe__email::placeholder{
    color: #999;
    font-style: italic;
}
.subscribe__text{
    padding: 1em;
    border: 1px solid #72cec2;
    border-radius: 5px;
    color: #222;
    font-family: 'Lora', serif;
}
.subscribe__text::placeholder{
    color: #999;
    font-style: italic;
}
.subscribe__text, .subscribe__email:focus{
    outline: 0;
    border-color: #72cec2;
}
.subscribe__btn{
    background-color: #72cec2;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.95rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    transition: background-color .2s linear, color 0.2s linear; 
}
.subscribe__btn:hover{
    background-color: #222;
    color: #eee;
    border: 0;
}
.copyright{
    display: flex;
    justify-content: center;
}
.logo__img{
    margin: 3em;
}
.logo__img img{
    width: 50px;
}
.content{
    color: #eee;
    margin: 4em;
    font-weight: 500;
}
.social__content{
    font-weight: 500;
    font-size: 3rem;
}
.social__content a{
    color: #eee;
    margin-left: 3.5em;
    transition: color .2s linear;
    font-weight: 500;
}
.social__content a:hover{
    color: #72cec2;
    font-weight: 500;
}

/* Scrollup */
.scrollup{
    color: #222;
    background-color: #72cec2;
    width: 45px;
    text-decoration: none;
    height: 45px;
    opacity: 0.5;
    position: fixed;
    bottom: 70px;
    right: 90px;
    font-size: 2rem;
    border-radius: 5px;
    text-indent: 14px;
}
.up{
    line-height: 1.2;
    color: #222!important;
}
.scrollup:hover {
    background-color: #eee; 
    color: #222;
    transition: background-color 0.2s linear;
}

/* Contacts */
.bg__contacts{
    padding: 1em;
    background-color: #eee;
}
.contacts__info{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.cont__img img{
    width: 850px;
    height: 550px;
}
.contacts__text{
    padding: 3.5em;
    text-align: center;
}
.cont__description{
    padding: 15px 0;
}
ul{
    margin-left: -40px;
    list-style-type: none;
}
li{
    margin-bottom: 20px;
    background-color: rgb(34, 34, 34, 0.8);
    padding: 0.5em;
    border-radius: 5px;
}
.cont{
    display: block;
    color: #72cec2;
    width: 400px;
    text-align: center;
    font-size: 50px;
}
.cont:hover{
    color: #222;
    transition: 0.2s linear;
}
.iframe{
    text-align: center;
}

/* Section Doctors */
.doctors__section__inner{
    width: 95%;
    margin: 50px;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.doctors__section__inner:hover{
    box-shadow: 10px 10px 20px #72cec2;
    transition: 0.2s linear;
}
.doctors__section__img{
    margin-right: 2em;
}
.doctors__section__img img{
    border-radius: 5px;
}
.doctors__section__content{
    width: 60%;
    text-align: center;
    align-self: center;
}
.doctors__section__title{
    font-size: 1.5rem;
    padding-top: 0.5em;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
}
.doctors__section__suptitle{
    color: #222;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: italic;
}
.doctors__section__text{
    padding: 1em;
    color: #999;
    font-size: 1.1em;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .card__item:last-child{
       width: 32%;
    }
    .nav a{
        font-size: 15px;
    }
    .nav__link{
        height: 60px;
    }
}

@media (max-width: 1315px) {
    .nav a{
        font-size: 13px;
    }
    .nav__link{
        height: 50px;
    }
}

@media (max-width: 1315px) {
    .a1{
        font-size: 14px;
    }
    .a1_phone{
        font-size: 14px;
    }
    .mts{
        font-size: 14px;
    }
    .mts_phone{
        font-size: 14px;
    }
    .fas{
        font-size: 14px;
    }
    .ffas{
        font-size: inherit;
    }
    .city_phone{
        font-size: 14px;
    }
    .working{
        font-size: 11px;
    }
}

@media (max-width: 1200px) {
    .special_offer{
        font-size: 30px;
    }
    .slide h3{
        padding: 10px;
    }
    .card__item{
       width: 48%;
    }
    .card__item:last-child{
        width: 98%;
        margin-top: 30px;
    }
    .services__item{
        width: 100%;
    }
    .footer__logo img{
        width: 80%;
    }
    .footer__text{
        font-size: 15px;
    }
    .social__content{
        font-size: 2em;
    }
    .subscribe{
        width: 80%;
    }
    .subscribe__email{
        width: 100%;
        height: 30px;
    }
    .subscribe__text{
        width: 100%;
        height: 50%;
    }
    .subscribe__btn{
        width: 100%;
        padding: 0.2em 0.5em;
    }
    .footer__title{
        width: 80%;
        font-size: 1.1em;
        text-align: center;
    }
}

@media (max-width: 1050px) {
    .a1{
        font-size: 12px;
    }
    .a1_phone{
        font-size: 12px;
    }
    .mts{
        font-size: 12px;
    }
    .mts_phone{
        font-size: 12px;
    }
    .fas{
        font-size: 12px;
    }
    .ffas{
        font-size: inherit;
    }
    .city_phone{
        font-size: 12px;
    }
    .address{
        font-size: 12px;
    }
    .working{
        font-size: 10px;
    }
}

@media (max-width: 996px) {
    .logo img{
        width: 60%;
    }
    .nav a{
        font-size: 11px;
        font-weight: 700;
    }
    .nav__link{
        height: 45px;
    }
}

@media (max-width: 992px) {
    .section__suptitle{
        font-size: 20px;
    }
    .section__title{
        font-size: 22px;
    }
    .section__text{
        font-size: 15px;
    }
    .card__item:first-child{
        width: 100%;
        margin-bottom: 50px;
    }
    .card__item:nth-child(2){
        width: 100%;
        margin-bottom: 30px;
    }
    .card__item:last-child{
        width: 100%;
    }
    .services__item{
        width: 100%;
        padding: 0;
    }
    .doctors__item{
        margin: 20px auto;
        width: 80%;
        flex-wrap: wrap;
    }
    .footer__info{
        display: none;
    }
    .footer__contacts{
        width: 50%;
        font-size: 20px;
    }
    .fs{
        font-size: 20px;
    }
    .footer__email{
        width: 50%;
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .burger__nav{
        display: block;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header__top{
        display: none;
    }
    .header__bottom{
        display: none;
    }
    .header__burger{
        display: block;
    }
    .navig{
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0px;
        right: 0px;
        z-index: 10;
        background-color: rgba(50, 53, 53, 0.9);
        border-radius: 5px;
        padding: 13px;
        transform: translateX(110%);
        transition: .2s all linear;
    }
    .navig_active{
        transform: translateX(0);
    }
    .header__list{
        width: 100%;
        height: 90%;
        margin: 0 auto;
    }
    .header__burger__item{
        width: 100%;
    }
    .header__burger__item a{
        font-size: 15px;
    }
    .header__nav-close{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 30px;
        z-index: 11px;
    }
    .header__nav-close-line{
        display: block;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 45%;
        right: -5%;
        width: 70%;
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
   .burger__link{
    width: 80%;
    text-align: left;
    background-color: rgb(255, 255, 255, 0.8);
   }
   .burger__link a{
    color: #222;
   }
   .nav__link{
    font-size: 10px;
   }
}

@media (max-width: 770px) {
    .fs{
        font-size: 15px;
    }
    .header__nav-close{
        width: 10%;
    }
}

@media (max-width: 650px) {
    .burger__link a{
        font-size: 13px;
    }
}

@media (max-width: 550px) {
    .burger__link a{
        font-size: 12px;
    }
    .services__img{
        width: 50%;
        align-self: center;
    }
    .services__text{
        font-size: 15px;
    }
    .services__name{
        font-size: 15px;
    }
    .fs{
        font-size: 18px;
    }
    .footer__inner{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer__contacts{
        width: 100%;
        font-size: 25px;
        padding: 75px 0 0 0;
    }
    .footer__title{
        width: 100%;
        text-align: center;
    }
    .social__content a{
        margin: 0 auto;
        margin-bottom: 0;
    }
    .footer__email{
        width: 100%;
        font-size: 25px;
        padding: 75px 0 0 0;
    }
    .subscribe{
        width: 60%;
        margin: 0 auto;
    }
    .header__nav-close{
        width: 8%;
    }
    .header__nav-close-line{
        height: 1.5px;
    }
    .scrollup{
        display: none;
    }
}